<div class="row">
  <div class="col">

    <div class="timeline" *ngIf="jobs">
      <div class="container" *ngFor="let job of jobs; let odd=odd" [ngClass]="odd ? 'right' : 'left'">
      <!-- <div class="container right" *ngFor="let job of jobs"> -->
        <div class="content">
          <h3>{{job.dateInit | date:'MMM-yyyy'}} - {{job.dateEnd | date:'MMM-yyyy'}}</h3>
          <h4 class="text-capitalize">
            {{tags.as}} {{job.role}} {{tags.in}} 
            <a [href]="job.companyURL" [title]="job.company + ' website'" [title]="job.company + ' website'" target="_blank">{{job.company}}</a>
          </h4>
          <p>
            {{job.description}}
          </p>
          <p>
            <app-skill-badge 
              *ngFor="let skill of job.skills"
              [skill]="skill">
            </app-skill-badge>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>