<div class="row text-center mb-4">
  <div class="col">
    <a class="btn btn-outline-secondary btn-lg text-capitalize" routerLink="company" routerLinkActive="active" role="button">
      {{tags.companies}}
    </a>
  </div>
  <div class="col">
    <a class="btn btn-outline-secondary btn-lg text-capitalize" routerLink="skills" routerLinkActive="active" role="button">
      {{tags.skills}}
    </a>
  </div>
  <div class="col">
    <a class="btn btn-outline-secondary btn-lg text-capitalize" routerLink="domain" routerLinkActive="active" role="button">
      {{tags.domain}}
    </a>
  </div>
</div>


<router-outlet></router-outlet>